@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway');

body {
  font-family: "Raleway", sans-serif;
  background-color: #FAEDE8;
  color: #1E555C;
}

header {
  background-color: white;
  color: #C33149;
  width: 100%;
  padding: .25rem;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 5rem;
  letter-spacing: .75rem;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-align: center;
}

nav {
  background-color: white;
  padding: .1rem 0;
  border-bottom: 1px solid #C33149;
  border-top: 1px solid #C33149;
}

.active {
  background-color: #EDB183 !important;
}

a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #C33149;
}

a:visited {
  color: #EDB183;
}

a:visited:hover {
  color: #EDB183;
}

a:hover {
  color: #C33149;
  font-weight: 900;
}

footer {
  background-color: #1E555C;
  color: white;
  height: 9rem;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
}
