@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: #071013;
}

header {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  text-align: center;
}

nav {
  background-color: rgba(255, 255, 255, 0.1);
}

a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #C33149;
}

a:visited {
  color: #1E555C;
}

a:hover {
  font-weight: 900;
}

footer {
  background-color: #1E555C;
  text-align: center;
}
